/* 
    Create all the style definitions necessary to make your app look as close 
    to the example as possible. You will need to use display:grid to make the 
    bug reports display in three columns (see week 4).
*/

button {
    background-color: red;
    color: white;
}

form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.listWrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

.topbar {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
}